* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.apply-box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 20px;
}
.title-small {
  font-size: 20px;
}

.form-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input:focus {
  outline-color: red;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  background-color: rgb(218, 0, 0);
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 7px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #d2c7c7;
  color: black;
  transition: 0.3s ease-out;
  border: 2px solid rgb(226, 96, 96);
  cursor: pointer;
  transform: scale(1.09);
}
.textarea-control {
  grid-column: 1 / span 2;
}
.textarea-control textarea {
  width: 100%;
}
@media (max-width: 460px) {
  .textarea-control {
    grid-column: 1 / span 1;
  }
} ;
